<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8">	
			<link type="text/css" media="screen" rel="stylesheet" href="/css/css_class.css">
			<link type="text/css" media="screen" rel="stylesheet" href="/css/css_id.css">
			<link type="text/css" media="screen" rel="stylesheet" href="/css/css_typ.css">

	</head>



	<body class="bodyback">
		<div class="loginbox">
			<img src="/img/avatar.jpg" class="avatar">
			<h1>Login Here</h1>
			<form action="/" method="POST">
				<p>Username</p>
				<input type ="text" name="username" id="username" placeholder ="Enter Username">
				<p>Password</p>
			<input type ="password" name="password" id="password" placeholder ="Enter Password">
			<input type="submit" name="" value="Login">
		
			</form>
		</div>
	</body>



</html>